*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(239, 163, 20);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(23, 22, 22);
    width: 80%;
    padding: 50px 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
    color: seashell;
}

.container #smilyFaceEmojy{
    font-size: 60px;
    text-align: center;
}

.container #settingIcon{
    position: absolute;
    right: 15px;
    top: 15px;
    border: 2px orange solid;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.container #settingIcon:hover{
    color: black;
    background-color:orange;
}

.container #settingContainer{
    display: none;
    background-color: rgba(236, 158, 12, 0.964);
    box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
    color: black;
    font-weight: 600;
    position: absolute;
    right: 30px;
    top: 60px;
    border-radius: 10px;
}

.settingContainerActive{
    display: block !important;
}


.container #settingContainer ul{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.container #settingContainer ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container p{
    margin-block: 40px;
}

.container button{
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px orange solid;
    font-weight: 700;
    font-size: 17px;
    transition: 0.3s all;
    cursor: pointer;
}

.container button:hover{
    background-color: orange;
    color: black;
}